* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100vw;
  left: 15vw;
  top: 25mm; 
  height: 85vh;
  padding: 20px 0 10px 10px;
  
}
.container label{
  font-size: 150%;
  color: #05558a;
  text-shadow: 2px 2px 4px #94deeb;
  
}
.country {
  color: #009fe9;
  padding: 20px 0px 0px 0px;
  font-size: 100%;
  font-style: italic;
  text-transform: capitalize;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.country label {
    color: #0a0a0a;
    font-size: 70%;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.gps {
    color: #968989;
    padding: 0 0 0.5vh 0px;
    font-size: 70%;
    text-transform:capitalize;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .condition {
    color: #968989;
    font-size: 70%;
    text-transform:capitalize;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  .condition #temp{
    font-size: 70%;
  }
  .condition #condition{
    font-size: 70%;
  }
  